<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.835985289404-8oij789j9uma8tf9er43t3pdoupl3tic</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>1:835985289404:ios:06cbaeb91068a9f6dc20b9</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.835985289404-8oij789j9uma8tf9er43t3pdoupl3tic</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
</dict>
</plist>
